.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #F5F5F5;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #D4D4D4; 
}

.scrollable::-webkit-scrollbar-thumb:hover { 
  background: #c2c2c2;
}

.scrollable-dark::-webkit-scrollbar-track {
  background: lighten($sidebar-bg, 3%);
}

.scrollable-dark::-webkit-scrollbar-thumb {
  background: darken($sidebar-bg, 5%); 
}

.scrollable-dark::-webkit-scrollbar-thumb:hover { 
  background: darken($sidebar-bg, 7%);
}