<nav class="navbar navbar-full navbar-light main-nav">
  <div class="btn-toolbar">
    <div class="btn-group hidden-lg-up">
      <button type="button" class="btn btn-secondary" ng-click="appCtrl.toggleLeftNav()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
<div class="app-content scrollable">
  <div class="clearfix">
    <div class="page-header">
      <div class="page-header-text">
        <h1 class="page-header-title">Page Not Found</h1>
      </div>
    </div>
    <p class="page-content">
      Sorry, the requested page could not be found. :-(
    </p>
  </div>
</div>
